.left {
    min-width: 400px;
    width: 45%;
    margin-right: 2em;
}

.bottom-half {
    padding: 3em;
}

.highlight {
    color: #FCAE2C;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-gap: 1em;
}

.profile {
    width: 315px;
    height: 250px;
    padding: 25px;
    background: #F2F2F2;
    ;
    border-radius: 10px;
}

.icons {
    display: flex;
    font-size: x-large;
}

.icons li {
    margin-right: 10px;
    color: #FE5962;
}

.icons li a {
    color: #797979;
}

.icons li a:hover {
    color: black;
}

.h1 {
    place-content: center;
}

dl.faq button {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
    border: thin solid transparent;
    background-color: transparent;
    padding-left: 0.125em;
}

dl dd {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
}

dl.faq .desc {
    margin: 0;
    padding: 0.5em;
    font-size: 110%;
    display: none;
    background-color: #FCAE2C;
}

dl.faq button:hover,
dl.faq button:focus {
    background-color: #B0D9D5;
}

dl.faq button:focus {
    border-color: #FCAE2C;
}

dl.faq button:hover {
    text-decoration: underline;
}

dl.faq button:active {
    background-color: #B0D9D5;
}

dl.faq button[aria-expanded="false"]::before {
    content: url('../images/right-arrow-brown.png');
    padding-right: 0.35em;
}

dl.faq button[aria-expanded="true"]::before {
    content: url('../images/down-arrow-brown.png');
    padding-right: 0.35em;
}