* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    /* rows: header, content, footer */
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
}


/* Navbar links */

.topnav {
    overflow: hidden;
}

.topnav a {
    padding: 1em 0 1em 3em;
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin-right: 40px;
    text-decoration: none;
    top: 5%;
}


/* Links - change color on hover */

.topnav a:hover {
    color: #FCAE2C;
}

.top-half {
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*bottom-half = resourcesection*/

.resourcesection {
    padding: 3em;
    background-color: rgba(242, 96, 82, 0.15)
}

.nameheader {
    position: absolute;
    left: 46%;
    right: 50%;
    top: 2%;
    bottom: 26.39%;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 800;
    font-size: 31.4286px;
    line-height: 32px;
    /* or 101% */
    letter-spacing: -1px;
}

.navbutton {
    position: absolute;
    left: 80%;
    right: 2%;
    top: 1%;
    bottom: 23.61%;
    font-size: 16px;
    width: auto;
    height: 38px;
}


/* Content CSS*/

#name {
    left: 250px;
    top: 180px;
    /* Display Large Bold */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 66px;
    color: #333333;
}

#question {
    /* are you.... also kind of tired of among Us and skribbl? */
    width: 393px;
    left: 250px;
    top: 336px;
    /* Link Large */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    /* or 158% */
    /* Gray 3 */
    color: #797979;
}

#intro {
    /* Home-User-Backpack is a hub (lol) for college event planners to help virtually connect classmates, student committees, and members of student orgs. */
    width: 396px;
    left: 250px;
    top: 500px;
    /* Link Large */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    /* or 158% */
}

#sharewfriendsbutton {
    border: 2px solid #FCAE2C;
    border-radius: 12px;
}

#biglogo {
    left: 180%;
    bottom: 160%;
}

.search {
    max-width: 720px;
    display: flex;
    flex-direction: row;
    /*center search bar*/
    margin: 0 auto;
    margin-bottom: 2em;
}

.searchTerm {
    border: 2px solid #FCAE2C;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 5px;
    height: 40px;
    outline: none;
    color: black;
    text-transform: lowercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 671px;
    overflow: hidden;
    height: 38px;
}

#categories {
    border-radius: 12px;
    display: block;
    top: 1200px;
    padding: 8px;
    text-align: center;
    left: 25%;
}

button {
    width: auto;
    height: 38px;
    padding: 5px;
    /* Rectangle 40 */
    /* White */
    background: #FFFFFF;
    /* Secondary */
    border: 2px solid #B0D9D5;
    box-sizing: border-box;
    border-radius: 10px;
    /* Link x-Small */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    text-transform: lowercase;
    /* Gray 1 */
    color: #333333;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #FCAE2C;
    background: #FCAE2C;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}

.activities {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.activity {
    width: 360px;
    height: 270px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.activity-img {
    background-color: #B0D9D5;
    width: 360px;
    height: 205px;
}

.activity-icons {
    display: flex;
}

.activity-icons li {
    width: 30px;
    height: 30px;
    background-color: #B0D9D5;
    border-radius: 10px;
    justify-content: center;
}

footer {
    padding: 1em;
    text-align: center;
}